{% extends 'base.html' %}
{% load static %}
{% block title %} Modification d'agence {% endblock %}

{% block body %}
<h6 class="mb-3 text-uppercase p-3 shadow-sm bg-light-primary"><i class='lni lni-bookmark mx-3'></i>MODIFICATION D'AGENCE</h6>

<div class="div-center">
    <div class="card mt-4 col-md-10 div-center">
        <div class="card-body">
            <div class="border p-4 rounded">
                <div class="card-title d-flex align-items-center">
                    <div>
                        <i class="bx bxs-bookmark  me-1 font-22 text-blue-sewar"></i>
                    </div>
                    <h5 class="mb-0 text-blue-sewar">Informations Générales</h5>
                </div>
                <hr />
                <form id="form" name="myform" method="POST"  
                    class="form-horizontal bg-form row g-3">
                    {% csrf_token %}
                        <div class="col-md-6">
                            <label class="col-sm-12 col-form-label">Intitulé *</label>
                            <div class="input-group"> <span class="input-group-text bg-transparent"><i class='bx bx-building'></i></span>
                                <input type="text" class="form-control" name="intitule" id="inputIntitule" 
                                    placeholder="Intitule" required value="{{agence.intitule}}"/> 
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-12 col-form-label">Site *</label>
                            <div class="input-group"> <span class="input-group-text bg-transparent"><i class='bx bx-location-plus'></i></span>
                                <select name="site" id="inputSite" class="form-control single-select" required>
                                    <option value="">Sélectionnez une ville ou localité</option>
                                    {%for ville in villes%}
                                        {%if ville.intitule == agence.site%}
                                            <option value="{{ville.intitule}}" selected>{{ville.intitule}}</option>
                                        {%else%}
                                            <option value="{{ville.intitule}}">{{ville.intitule}}</option>
                                        {%endif%}
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group text-center">
                            <button class="btn btn-blue-s mr-2" type="submit" id="enregistrer" 
                            > Enregistrer
                            </button >
                            <a href="/agence/list" class="btn btn-light border" type="button" id="fermer">Fermer
                            </a>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}