{% extends 'base.html' %}
{% load static %}
{% block title %} Liste des agences {% endblock %}

{% block body %}
<h6 class="mb-3 text-uppercase p-3 shadow-sm bg-light-primary"><i class='lni lni-bookmark mx-3'></i>LISTE DES AGENCES</h6>

				
				<a class="btn btn-blue-s my-3 px-3 py-2" href="/agence/add"><i class="lni lni-plus mr-2" style="font-size: 10px !important;"></i> Ajouter </a>

				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table id="myDataTable" class="table table-striped table-bordered table-hover my-3">
								<thead style="background-color: rgba(6, 2, 17, 0.177);">
									<tr>
										<th>Code</th>
                                        <th>Dénomination</th>
										<th>Site</th>
										<th>Géolocalisation</th>
										<th class="text-end">Actions</th>
									</tr>
								</thead>
								<tbody>
                                    {% for agence in agences %}
                                    <tr>
                                        <td>{{agence.code}}</td>
                                        <td>{{agence.intitule}}</td>
                                        <td>{{agence.site}}</td>
                                        <td>({{agence.geolocalisation_longitude}} ; {{agence.geolocalisation_longitude}})</td>
                                        <td class="text-end">
                                            <a href="/agence/edit/{{agence.id}}">
                                            <button data-elt-id=""
											class="btn btn-sm btn-edit" type="button"
											id="modifier" title="modifier" >
											  <span class="bx bx-pencil"></span>
											</button>
                                            </a>
                                            <a href="/agence/delete/{{agence.id}}">
                                                <button class="btn btn-sm btn-danger" type="button"
												title="supprimer" >
												<span class="bx bx-trash"></span>
											    </button>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
							</table>
						</div>
					</div>
				</div>
{% endblock %}