{% extends 'base.html' %}
{% load static %}
{% block title %} Point des validations {% endblock %}

{% block body %}
<h6 class="mb-3 text-uppercase p-3 shadow-sm bg-light-primary"><i class='lni lni-bookmark mx-3'></i>POINT DES VALIDATIONS</h6>
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover my-3">
								<thead>
									<tr>
										<th>Date validation</th>
                                        <th>Agence</th>
                                        <th>Validateur</th>
                                        <th>Montant</th>
                                        <th>Validé ?</th>
									</tr>
								</thead>
								<tbody>
                                    {% for validation in validations %}
                                    <tr>
										<td>{{validation.day}} </td>
                                        <td>{{validation.agence.intitule}}</td>
                                        <td>{{validation.validator.nom_prenom}}</td>
                                        <td class="text-center">{{validation.montant}} FCFA</td>
                                        <td>
                                            {%if validation.validate %}
                                            <span class="badge bg-success">Oui</span>
                                            {%else%}
                                            <span class="badge bg-danger">Non</span>
                                            {%endif%}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
							</table>
						</div>
                        <select name="choix" id="choixValid" class="form-control single-select" required>
                            <option value="">Sélectionnez une option pour l'affichage des validations</option>
                            <option value="form1">Par période</option>
                            <option value="form2">Par agence et par période</option>
                        </select>
                        <form id="form1" name="myform" method="POST" hidden 
                                class="form-horizontal bg-form row g-3 mb-3" name="PERIOD">
                                {% csrf_token %}
                                <div class="card-title d-flex align-items-center">
                                    <div>
                                        <i class="bx bx-search  me-1 font-22 text-blue-sewar"></i>
                                    </div>
                                    <h5 class="mb-0 text-blue-sewar text-uppercase">historique par période</h5>
                                </div>
                                <hr />
                                <div class="col-md-6 mx-auto">
                                    <div class="row">
                                        <div class="mb-3 col-5">
                                            <label class="form-label">Début:</label>
                                            <input type="date" class="form-control" id="debut" name="debut">
                                        </div>
                                        <div class="mb-3 col-5">
                                            <label class="form-label">Fin:</label>
                                            <input type="date" class="form-control" id="fin" readonly name="fin">
                                        </div>
                                        <button class="btn col-2" type="submit"
                                        > <span class=""><i class='bx bx-search' ></i></span>
                                        </button >
                                    </div>
                                </div>
                        </form>
                        <form id="form2" name="myform" method="POST" hidden 
                                class="form-horizontal bg-form row g-3 mb-3" name="PERIOD_AGENCE">
                                {% csrf_token %}
                                <div class="card-title d-flex align-items-center">
                                    <div>
                                        <i class="bx bx-search  me-1 font-22 text-blue-sewar"></i>
                                    </div>
                                    <h5 class="mb-0 text-blue-sewar text-uppercase">historique par agence et par période</h5>
                                </div>
                                <hr />
                                <div class="col-md-6 mx-auto">
                                    <select name="agence_code" id="inputAgence" class="form-control single-select" required>
                                        <option value="">Sélectionnez une agence</option>
                                        {%for agence in agences%}
                                        <option value="{{agence.code}}">{{agence.intitule}}</option>
                                        {%endfor%}
                                    </select>
                                    <div class="row">
                                        <div class="mb-3 col-5">
                                            <label class="form-label">Début:</label>
                                            <input type="date" class="form-control" id="debut1" name="debut">
                                        </div>
                                        <div class="mb-3 col-5">
                                            <label class="form-label">Fin:</label>
                                            <input type="date" class="form-control" id="fin1" readonly name="fin">
                                        </div>
                                        <button class="btn col-2" type="submit"
                                        > <span class=""><i class='bx bx-search' ></i></span>
                                        </button >
                                    </div>
                                </div>
                        </form>
					</div>
				</div>
{% endblock %}