{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block body %}
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-2 row-cols-xxl-4">
    <div class="col">
      <div class="card radius-10 bg-gradient-cosmic">
         <div class="card-body">
             <div class="d-flex align-items-center">
                 <div class="mx-auto">
                     <p class="mb-0 text-white text-center">Nombre d'agents</p>
                     <h4 class="my-1 text-white text-center">{{nb_agents}}</h4>
                     <p class="mb-0 font-13 text-white">environ {{nb_agents_active}} agent(s) connecté(s)</p>
                 </div>
             </div>
         </div>
      </div>
    </div>
    <div class="col">
     <div class="card radius-10 bg-gradient-ibiza">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="mx-auto">
                    <p class="mb-0 text-white text-center">Nombre de Tickets</p>
                    <h4 class="my-1 text-white text-center">{{8}}</h4>
                    <p class="mb-0 font-13 text-white text-center">dont {{4}} aboutis</p>
                </div>
            </div>
        </div>
     </div>
   </div>
   <div class="col">
     <div class="card radius-10 bg-gradient-ohhappiness">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="me-auto">
                    <p class="mb-0 text-white">Bounce Rate</p>
                    <h4 class="my-1 text-white">34.6%</h4>
                    <p class="mb-0 font-13 text-white">-4.5% from last week</p>
                </div>
                <div id="chart3"></div>
            </div>
        </div>
     </div>
   </div>
   <div class="col">
     <div class="card radius-10 bg-gradient-kyoto">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="me-auto">
                    <p class="mb-0 text-dark">Total Customers</p>
                    <h4 class="my-1 text-dark">8.4K</h4>
                    <p class="mb-0 font-13 text-dark">+8.4% from last week</p>
                </div>
                <div id="chart4"></div>
            </div>
        </div>
     </div>
   </div> 
 </div><!--end row-->
{% endblock %}